* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;    
  background-color: #1D2021;
  font-family: 'JetBrainsMono NFM';
}

img {
  width: 100px;
}

.title {
  position: absolute;
  top: 100px;
  font-size: 2.5em;
  color: #d79921;
}

.word {
  display: inline;
}

#textToReply {
  position: absolute;
  top: 400px; left: 535px;
  font-size: 25px;
  background-color: transparent;
  color: rgba(84, 60, 13, 0.8);
  width: 1000px;
  height: 500px;
  border: none;
  resize: none;
  overflow: hidden;
  font-family: 'JetBrainsMono NFM';
}

#inputW {
  position: absolute;
  top: 400px; left: 535px;
  background-color: transparent;
  color: #d79921;
  border: 0px none #211C2B;
  outline: none;
  width: 1000px;
  height: 500px;
  resize: none;
  font-size: 25px;
  overflow: hidden;
  font-family: 'JetBrainsMono NFM';
}

#bottom-options {
  color: #d79921;
  font-size: 20px;
  position: absolute;
  bottom: 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#amountWords {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

#amountWordsV {
  text-align: center;
  background-color: transparent;
  border: 1px solid #d79921;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

#theme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

#theme i {
  text-align: center;
  width: 30px;
  margin-left: 10px;
}

#tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

}

#tab i {
  text-align: center;
  width: 30px;
  margin-left: 10px;
}
 
.toggle-theme {
  background-color: rgb(235, 219, 178);
  color: #1D2021;
}

.toggle-theme #textToReply {
  color: rgba(29, 32, 33, 0.6);
}

.toggle-theme #inputW {
  color: #1D2021;
}

.toggle-theme #bottom-options {
  color: #1D2021;
}

.toggle-theme #amountWordsV {
  border: 1px solid #1D2021;
}

.toggle-theme .title {
  color: #1D2021;
}

.toggle-theme #footer {
  color: #1D2021;
}

#footer {
    position: absolute;
    bottom: 0; 
    color: #d79921;
}
