* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;    
    background-color: #211C2B;
    font-family: 'JetBrains Mono';
}

.container {
    width: 900px;
    max-width: 90%;
    padding: 16px;
}

.timer {
    position: absolute;
    top: 290px; left: 625px;
    font-size: 45px;
    color: #9BBB9B;
}

#textToReply {
    position: absolute;
    top: 400px; left: 535px;
    font-size: 25px;
    padding: 1px;
    color: rgba(155, 187, 155, 0.2);
    width: 900px;
}

.inputWords {
    position: absolute;
    top: 400px; left: 535px;
    background-color: transparent;
    color: #9BBB9B;
    border: 0px none #211C2B;
    outline: none;
    width: 900px;
    height: 120px;
    resize: none;
    font-size: 25px;
    overflow: hidden;
    font-family: 'JetBrains Mono';
}

.inputWords:focus {
    border-color: #211C2B;
}
